body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

main, header {
  padding: 1em;
  box-sizing: border-box;
}

header {
  text-align: center;
}

legend, label {
  letter-spacing: normal;
}

aside {
  padding: 1em;
}